[2016-09-14 14:52] kushti opened #3 "Properties Tests for InvSpec / RequestModifierSpec"
Write properties tests about messages round-trip for  InvSpec / RequestModifierSpec. Check the case when invs set size exceeding MaxObjects.

[2016-09-15 10:05] #3 closed

[2016-09-16 09:12] kushti opened #4 "Implement PrivateKey25519Companion.owns()"

[2016-09-16 09:14] kushti opened #5 "Implement DefaultWallet25519.scan() and bulkScan()"

[2016-09-16 09:27] kushti opened #6 "Make a test suite for properties tests"
Fow now only following tests are to be launched by "sbt test"

[info] SigningFunctionsSpecification:
[info] - PrivateKey25519Companion generates valid keypair (379 milliseconds)
[info] - PrivateKey25519Companion serialization (187 milliseconds)
[info] HandshakeSpecification:
[info] - handshake should remain the same after serialization/deserialization (147 milliseconds)

[2016-09-20 12:56] #4 closed

[2016-09-20 12:56] #6 closed

[2016-11-12 15:43] AlanVerbner opened #8 "ApiClient Json parsing error"
### Description

After downloading and running one of the example projects when trying to query REST api using the provided ApiClient we are receiving an error while parsing Json response.

### Error Output

[code]

### How to reproduce
1. Startup any of the examplel projects included in this repo, for example, `SimpleApp.scala`
2. Run ApiClient
3. Execute the command `GET utils/seed`

### Cause

[2016-11-21 13:39] kushti commented on #8
Thanks for reporting! Fixed with `val result = Source.fromInputStream(stream).mkString("")`

[2016-11-21 13:39] #8 closed

[2016-11-25 15:27] AlanVerbner opened #11 "HybridApp example error while finding commong block"
## Description

On HybridAppHistory, finding suffixes after a common block between branches it's not working.

## Cause

[code]

On the first if branch (when `loserChain.contains(c1h) == true`) it should be comparing by c1h while dropping. If not, the condition is matched at the first dropWhile iteration (because c2h is the head of loserChain sequence)

## How to fix

Change the first dropWhile co

[2016-11-29 15:07] kushti commented on #11
Not sure proposed fix is a right one. I've fixed the issue in another way. A property test has been added (property("suffixesAfterCommonBlock finds correct suffixes") in HybridHistorySpecification.scala)

[2016-11-29 15:07] #11 closed

[2016-11-29 15:44] AlanVerbner commented on #11
@kushti we will take a look at your fix, thanks!

[2016-12-30 09:56] catena2w opened #14 "Opened connections"
Looks like 2 nodes opens a lot of connections to each other, should be only 1.

[2016-12-30 09:56] catena2w opened #15 "Hybrid - difficulty recalculation"
Difficulty recalculation algorithm is broken

[2017-01-10 07:00] catena2w opened #16 "Hybrid - offlineGeneration"
`offlineGeneration=false` don't work, node still generates blocks alone

[2017-02-01 09:21] #14 closed

[2017-02-01 09:21] #15 closed

[2017-02-01 09:21] #16 closed

[2017-02-01 09:22] kushti opened #18 "Add rollback to History"
At the moment History basic trait doesn't have a rollback functionality, but it is probably needed if block is failed to be applied to a current state. Reconsider interface & application logic.

[2017-03-16 16:44] zihehuang opened #19 "versionID is already used during restart of a HybridApp node"
Hello there,

I am encountering an issue of nodes not being able to restore its state after restart. I was able to replicate this issue by doing the following:
1. Clear the /tmp/scorex/ directory
2. Start a node with HybridApp and wait for generation of several blocks
3. Ctrl+C in the terminal
4. Restart the node
and the error I am getting is following:

[code]

5. Further requests to Swagger UI r

[2017-03-17 09:39] #19 closed

[2017-03-17 09:40] catena2w commented on #19
Fixed, thank you for bug report!

[2017-03-17 09:55] #5 closed

[2017-03-29 20:57] ramnivas opened #20 "Hello World sample"
It will really help a newcomer to get started if there is a "Hello World" level app with Scorex (something similar to slide 20 from https://www.slideshare.net/AlexChepurnoy/scorex-the-modular-blockchain-framework or https://github.com/input-output-hk/Scorex/wiki/Getting-started#running-scorex).

I tried to port https://github.com/input-output-hk/Scorex/wiki/Getting-started#running-scorex, but ther

[2017-04-10 15:58] catena2w commented on #20
One of the simplest examples is here - https://github.com/ScorexFoundation/Scorex/tree/master/examples/src/main/scala/examples/curvepos

[2017-04-10 15:58] catena2w opened #21 "Json serializers"
Extract Json serializers and remove json field from JsonSerializable

[2017-04-10 16:15] catena2w opened #22 "Remove FastCryptographicHash"

[2017-04-13 02:08] mpk2 opened #23 "Generic Boxes"
Currently, boxes are parameterized only by proposition, with a value type of `Long`. It seems that a lot of the code is intertwined with this assumption, but there's no particular reason why box values should be limited to `Long`.

One example is using `String` as the value type for a box in order to define access restrictions to a blockchain resource.

[2017-04-17 22:30] kushti commented on #23
Could you provide some example? If it is about "access restrictions", so I assume restricting access to the block itself, then probably String field should be a part of a proposition?

[2017-04-17 22:33] kushti commented on #20
Unfortunately, documentation on examples is not in the tutorial (https://github.com/ScorexFoundation/ScorexTutorial) yet

[2017-04-21 01:17] mpk2 commented on #23
As we are developing smart contract templates, we have chosen to store a contract shared amongst members as a box with a value type that can hold the state data for that contract (sealed by a 1-of-n proposition). It's different than the above, but it is a case where the default value of `Long` seems unnecessarily cumbersome.

I understand that one could add additional data to the boxes, but given

[2017-04-21 01:26] mpk2 commented on #23
As far as a `String` used for access restriction, technically transactions are access-limited by access to boxes necessary for their execution. Therefore, if one wanted to create a "permission" box, one could allow elevated user permissions (i.e. the submission of particular transactions) with the presentation of a box containing a particular string value (e.g. "Admin"). This is somewhat irrelevan

[2017-05-13 16:31] mpk2 commented on #23
Any further thoughts on this @kushti ?

[2017-05-23 22:57] kushti commented on #23
@mpk2  Sorry for the long reply Matt! I imagine, a contract(a box) has some number of tokens associated with it?  Then value is needed. State could be made a part of Proposition, if transaction applicability depends on it (proposition could be e.g. a tuple of <state, set of possible transitions> then).

I never thought about token-less applications actually. I'll revise whether it it possible to d

[2017-05-24 14:56] mpk2 commented on #23
Thanks! Really enjoy the work that has been put into this project. We're building out our sections as it goes along.

I think that since we're running contract _templates_ ourselves, the contract state is sufficient to determine valid transitions itself (it's not a sandboxed Turing-complete sort of setup). Instead, the contract can locally check the validity of an executed internal transaction. Wh

[2017-05-25 17:32] kushti commented on #23
Thanks for the great words. would be extremely happy to get pull requests.

So a contract is enough to validate transactions associated with it(no anything external is needed)?  and no tokens associated with it?

[2017-05-25 17:51] mpk2 commented on #23
To be more specific, contract templates as we're currently developing them have a limited lifespan. There are 3 types of transactions for this lifespan: `ContractCreation` , `ContractMethodExecution` (perhaps better named `ContractMethodInvocation`), and `ContractCompletion`. Each of these transactions involve state validation of some sort (e.g. validating that the party is authorized to perform s

[2017-05-25 18:03] mpk2 commented on #23
In case I wasn't clear (I sometimes write a little too much) each type of contract transaction does rely at least partially on minimal state to validate. For `ContractMethodExecution`, the contract method is invoked, and the new contract state is the result. Each party can simply execute locally to update their version of the contract held in the minimal state.

[2017-05-26 19:51] kushti commented on #23
That sounds like a proposition is a state of a (finite?) state machine . so Proposition is the machine description. Is that a good model?

[2017-05-26 21:09] mpk2 commented on #23
That's probably not a bad way to think about it. I separated this out from the proposition itself.

As it's currently implemented, the signature on the tx is checked against a list of valid parties that can interact with the contract, so the proposition right now on the contract box is a 1-of-n version of the `PublicKey25519Proposition`. The method and params are then attempted to be executed agai

[2017-05-26 21:13] mpk2 commented on #23
I think the only reason I didn't include it in the Proposition is that it also needs to be part of the generation for the new box (i.e. new contract state)

[2017-06-05 20:43] zihehuang commented on #23
See #25

[2017-06-12 17:21] zihehuang commented on #23
@kushti Any thoughts on the PR?

[2017-06-13 10:53] catena2w commented on #23
@zihehuang Sory, we were a bit overbusy last week, will regard pull request in few days

[2017-06-29 16:14] zihehuang opened #27 "Make Access Control Allowed Origin tunable"
Currently, all the `settings.json` files have a field called `rpcAllowed`, but it is not used anywhere. I would assume that this was designed to take in some origins for which CORS would be allowed.

At the same time, when you set `cors` to be `true`. `Access-Control-Allow-Origin` will be set to `*` in `ApiRoute.scala`.

Wouldn't it make more sense to control the `Access-Control-Allow-Origin` with

[2017-07-22 21:22] kushti commented on #18
made with reportInvalid() method in History

[2017-07-22 21:22] #18 closed

[2017-09-05 20:29] mgosk opened #41 "Smart contracts support"
Do you plan support for smart contracts in Scorex framework ?

[2017-09-17 08:15] ceilican opened #54 "Examples' README.md needs to be updated"
The [Examples's README.md](https://github.com/ScorexFoundation/Scorex/blob/master/examples/README.md) needs to be updated to Scorex 2.0.  At the end of the README, the user is told to use `cli.sh`, but Scorex 2.0 doesn't have a `cli.sh` anymore.

[2017-09-17 08:25] ceilican commented on #54
By the way, I tried to use the `cli.sh` from the [previous version](https://github.com/input-output-hk/Scorex/blob/master/cli.sh) (modifying the jar filename and the package of ApiClient, of course), but I had some difficulties. When I sent the POST command as instructed in the README, I got the following error message:

[code]

I tried this with two different settings:

1. two `HybridApp` nodes (

[2017-09-17 08:40] ceilican opened #55 "Parsing of JSON settings could be simplified"
I would suggest using `play.api.libs.json.Json` and making `Settings` a case class.  Similar to what is done in Agora for parsing parameters (see https://gitlab.com/aossie/Agora/blob/master/src/main/scala/agora/parser/ParameterParser.scala and lines 39--65 in https://gitlab.com/aossie/Agora/blob/master/src/main/scala/agora/model/Parameters.scala).

[2017-09-17 09:15] ceilican commented on #54
In the second case (i.e. just the `ApiClient`, running with "settings.json"), I would expect a better error message, saying that there is no server.

[2017-09-17 09:20] ceilican commented on #54
I also noticed that `ApiClient` has a hard-coded URL address pointing to 127.0.0.1, instead of getting the address from JSON settings. Is this intended?

[2017-09-21 12:59] atapin commented on #55
@ceilican I'd suggest using [circe](https://circe.github.io/circe/). It's a more lightweight and advanced lib.

[2017-09-21 13:17] ceilican commented on #55
@atapin, Thanks for the comment.

My main point is that `Settings` seems to parse JSON files (using circe) in a way that is more complicated than it needs to be. I know that it would be possible to do it in a simpler way with Play's Json API, as it is done in Agora. I am not as familiarized with circe, but I guess it would be possible to make it simpler with circe as well.

So, the main question i

[2017-10-10 10:10] RicoGit commented on #55
Why don't you keep settings in typesafe's HOCON?

[2017-10-10 11:55] Tolsi commented on #55
In the near future, the configuration of the Scorex project will go to HOCON

[2017-10-12 13:12] #22 closed

[2017-10-12 15:25] Fetiorin commented on #54
Any updates on README?

I just tried to run `ApiClient` via sbt and the best result was error below

[code]

when trying to run it in sbt like this `run-main scorex.core.api.client.ApiClient settings3.json`

[2017-10-19 22:51] ceilican commented on #54
This issue has been closed yesterday in this commit: https://github.com/ScorexFoundation/Scorex/commit/bb36767 .

[2017-10-19 22:51] #54 closed

[2017-10-20 07:02] ceilican commented on #54
Actually, there were still some issues in the README after that commit. I submitted a Pull Request (https://github.com/ScorexFoundation/Scorex/pull/67) fixing them.

[2017-10-20 07:36] ceilican opened #68 "Connection to Peer in TwinsCoin Testnet Fails"
I followed the instructions in the README for the examples, and then I keep getting the following message:

[code]

And then:

[code]

Is there any active TwinsCode node besides 34.210.250.171?

[2017-10-24 20:59] kushti commented on #68
Public Twinscoin testnet is down. testnet-twins.conf has been removed. Please run a local network.

[2017-10-24 20:59] #68 closed

[2017-10-24 22:47] kushti opened #75 "Node view synchronizer refactoring"
NodeViewSynchronizer is caching ids of modifiers (blocks/transactions etc) asked from network (so only objects requested are expected to be delivered):
  private val asked = mutable.Map[ModifierTypeId, mutable.Set[ModifierId]]()

However, this structure is not storing a peer being asked.

Also, we need to have another structure which contains objects delivered, in order to extract a peer when, dur

[2017-10-25 06:23] ceilican opened #78 "Alternative to keeping an actor's state in mutable collections"
I noticed that `NodeViewSynchronizer` has a few global mutable collections to keep state information.

An alternative to that could be to use the `become` approach and pass state information as arguments to the `Receive` methods.

[2017-10-25 06:36] ceilican opened #79 "Integrate Scoverage to measure test coverage"
I have added the [Scoverage](https://github.com/scoverage/sbt-scoverage) plugin to Scorex in #76. It can be used manually within the SBT shell for now. But a better integration could still be done:

* [x]  Make Scoverage work within the `Examples` module.
* [x]  Add Scoverage to Scorex's CI pipeline, so that a coverage report is generated automatically.
* [x]  Add a coverage percentage badge on Sc

[2017-10-27 06:15] #79 closed

[2017-10-27 06:17] daron666 opened #87 "Double notification from NVHT"
In case if semantically valid modifier is being applied to NVH we gonna get 2 notification about semantic validity of this modifier.

[2017-10-27 10:03] catena2w opened #88 "NodeViewHolder modifiersCache"
If some invalid modifiers appear in modifiersCache, they'll live there forever.

- [ ] Clear old modifier by some condition
- [ ] Limit  modifiersCache size
- [ ] Do not show all ids list in logs (which is huge if cache size ~40000)

[2017-10-27 10:18] Tolsi commented on #88
Looks like that is work for Guava LRU Cache!

[2017-10-27 10:34] daron666 commented on #88
Another LRU/TTL caches from twitter https://github.com/twitter/storehaus/wiki/Storehaus-Cache

[2017-10-27 11:37] ceilican opened #89 "Code duplication between generators in testkit and in core's test"
The following two files contain repeated code:

* https://github.com/ScorexFoundation/Scorex/blob/master/testkit/src/main/scala/scorex/testkit/generators/CoreGenerators.scala

* https://github.com/ScorexFoundation/Scorex/blob/master/src/test/scala/scorex/ObjectGenerators.scala

[2017-10-29 11:05] ceilican opened #94 "Warning in PeerDatabaseImpl"
[code]

[2017-10-29 11:44] ceilican commented on #79
Hi @kushti , Hi @daron666 !  I noticed that the reports in coveralls (https://coveralls.io/github/ScorexFoundation/Scorex?branch=scoverage-reports) are showing coverage statistics only for the "examples" module. Would it be possible to show coverage data for "scorex-core" and "testkit" there too?

[2017-10-30 07:25] ceilican commented on #55
@Tolsi , I added a new field to NetworkSettings and Ficus is not managing to automatically obtain the value for that field from "settings.conf". My changes and the stack trace can be seen here: https://github.com/ScorexFoundation/Scorex/pull/76/commits/60713a872816892cc1d656f5ff76f059c0d511ce .

If you have some time, could you have a look and tell me what else I need to do?

Also, I noticed that

[2017-10-30 11:57] ceilican commented on #55
Ok. After debugging the config parsing process, I got the answer to the question above. The parser falls back on “src/main/resources/reference.conf”. So, values that are not specified in “examples/src/test/resources/settings.conf” are read from “src/main/resources/reference.conf”.

I still don't know the answer to the first question (i.e. why Ficus is failing to convert the config to a NetworkSett

[2017-10-31 05:40] ceilican opened #96 "PeerSynchronizer has a hard-coded timeout"
Maybe it would be more elegant to obtain this timeout from a config file?

[2017-10-31 09:59] #87 closed

[2017-11-02 07:58] ceilican commented on #55
In [this commit](https://github.com/ceilican/Scorex/commit/133157a6ad070cad7a57624c511ee917133ed5f1) I show that, if I add `deliveryTimeout` directly in `ScorexSettings`, Ficus works. But if I add it in `NetworkSettings`, it doesn't.  I also tried to add it in one of the other nested case classes (`WalletSettings`), and it also didn't work.

I still don't know what is causing this problem. For a s

[2017-11-02 09:35] ceilican commented on #55
Ok. Problem solved. I documented this strange behaviour here: https://stackoverflow.com/questions/47068594/why-is-ficus-throwing-an-exception-when-i-try-to-add-a-new-field-in-my-case-clas/47071839#47071839 . And I notified the Ficus developers of this potential bug here: https://github.com/iheartradio/ficus/issues/55 .

[2017-11-02 22:34] kushti opened #100 "Eliminate VL type parameter in NodeViewHolderTests?"
Is it possible to eliminate VL type parameter in NodeViewHolderTests class?

[2017-11-02 22:36] kushti opened #101 "Plug NodeViewHolderTests / NodeViewSynchronizerTests into BlockchainSanity"

[2017-11-16 21:55] JohnnyKokay opened #113 "Curvepos example throws an ActorInitializationException"
I'm trying to run the Curvepos example with

`sbt runMain examples.curvepos.SimpleApp`

but I keep getting the exception thrown some time after the application starts. Here's the stack trace for it:

`[info] Running (fork) examples.curvepos.SimpleApp
[info] [main] >> [WARN ] scorex.core.settings.ScorexSettings$ >> 00:49:28.880 NO CONFIGURATION FILE WAS PROVIDED. STARTING WITH DEFAULT SETTINGS FOR

[2017-12-01 03:22] AxiomFlow commented on #75
@kushti , maybe this issue can be closed?

[2017-12-01 03:24] ceilican commented on #100
@kushti, This issue can be closed.

[2017-12-01 03:25] ceilican commented on #101
@kushti @catena2w This issue can be closed.

[2017-12-01 03:25] ceilican commented on #55
@kushti @catena2w this issue can be closed.

[2017-12-01 08:32] ceilican opened #119 "Intermittent NullPointerException"
Travis CI initially failed in [PR 110](https://github.com/ScorexFoundation/Scorex/pull/110), because a NullPointerException was thrown during the execution of the test "NodeViewHolder: forking - switching" in NodeViewHolderTests.

[code]

However, when I asked Travis to re-run this build, the test passed.  So, whatever is causing this problem doesn't happen all the time.

[2017-12-09 11:54] ceilican commented on #119
Another one:

[code]

[2017-12-11 12:58] kushti opened #129 "Rework NodeViewHolder to retrieve data from it asynchronously."
Now only 1 thread is processing messages in queue which leads to 500 errors in API, sync message storm etc.

[2017-12-12 06:47] ceilican commented on #129
Could this be the cause for issue #119 as well?

[2017-12-12 10:23] daron666 commented on #94
I see that this one had been fixed.

[2017-12-12 10:23] #94 closed

[2017-12-14 20:33] #119 closed

[2017-12-14 20:49] #89 closed

[2017-12-15 00:09] ceilican opened #134 "Make the types of settings as specific as possible"

[2017-12-15 00:13] ceilican opened #135 "Include instructions explaining how to perform a transaction in the Examples's readme"
https://github.com/ScorexFoundation/Scorex/tree/master/examples

We have user demand for this information. Here is what a user asked in the gitter channel:

[2017-12-15 04:50] #75 closed

[2017-12-15 04:51] #55 closed

[2017-12-15 05:07] #101 closed

[2017-12-15 05:07] #100 closed

[2017-12-15 05:07] #96 closed

[2017-12-15 05:12] ceilican commented on #41
There is some preliminary discussion about the possibility of integrating IELE (https://github.com/runtimeverification/iele-semantics/) in Scorex.

[2017-12-15 05:51] ceilican commented on #20
We have updated the examples' readme. What remains to be done, for the examples to be more understandable for newcomers, is to address issue #135 . Therefore, I'm closing this issue.

@ramnivas , if you think that anything else (apart from what is mentioned in #135) is needed, please reopen this issue and let us know.

[2017-12-15 05:52] #20 closed

[2017-12-20 00:59] ceilican opened #139 "Just a test. Ignore."

[2017-12-20 01:26] #139 closed

[2017-12-26 10:52] daron666 opened #141 "Fix "last seen date" for connected peers api route."
Currently api route `/peers/connected` returns list of objects with `lastSeen` field. This field is being filled with `now()` timestamp instead of correct last seen date. However class `Handshake` has its own `time` field. Maybe we should consider use this field instead of `now()`?

[2017-12-26 10:54] daron666 commented on #141
@ceilican What do you think about it? I can easily implement this changes, but firstly I need to `swagger-api` branch to be merged.

[2017-12-26 10:55] daron666 opened #142 "Write PeersApiSpecs and UtilsApiSpecs."
Write tests for this endpoint to make sure that description is accurate.

[2017-12-26 11:31] ceilican commented on #141
It sounds reasonable to me. @kushti implemented the handshaking only recently, and I guess the population of `lastSeen` with `now()` precedes `Handshake`.  What do you think, @kushti?

[2017-12-26 17:04] Tolsi commented on #141
I think if you seed this peer right now, then you should now as last time :)

[2017-12-26 21:26] ceilican commented on #141
In principle, I think `lastSeen` should be neither `now()` nor the handshake time, but rather something between the two: the last time we have interacted with the peer (e.g. the last time we have received a modifier (or anything else) from the peer).

Both `now()` and the handshake time are just approximations of the true `lastSeen` time.

Do we currently have a way to track the true last time we

[2017-12-27 04:58] daron666 commented on #141
`Now()` is just a time when we request 'connected peers' api, it hasn't any relation to real last seen date. On the other hand it's truly non-deterministic behaviour when you try to test routes with `now()` cause it's nearly impossible to predict what we will finally get from api. One more concern here is about that Http layer has influence on a result. I think there should not be any code inside

[2018-01-09 11:27] daron666 commented on #142
resolved by #140

[2018-01-09 11:27] #142 closed

[2018-01-12 09:40] kushti opened #148 "Connection authentication using Noise"
Noise Protocol Framework https://noiseprotocol.org/

"Noise is a framework for building crypto protocols. Noise protocols support mutual and optional authentication, identity hiding, forward secrecy, zero round-trip encryption, and other advanced features. "

Let's use Noise for optional auth. handshake.

[2018-01-26 12:26] daron666 opened #152 "Sync-Rework II Issue"
Found some strange behaviour between two running nodes.
It looks like for each sync request we get 2 answers from 1 node.
That is the reason for warnings like
`[2-Hop-akka.actor.default-dispatcher-2] >> [WARN ] examples.hybrid.HybridNodeViewHolder >> 16:21:48.003 Received modifier 99aQPCZfUYc68nrvQtEH7PJ5RVv28abBWECaMce2bttL that is already in history`

Full log
[code]

[2018-01-26 12:31] daron666 commented on #152
Another suspicious messages, they appeared only on second node with `settings2.conf`

[code]

[2018-01-26 12:53] kushti commented on #152
both issues are unlikely linked to the "sync-rework" PR, so I've changed the issue's title

[2018-01-26 12:55] kushti opened #153 "Split maximum number of ingoing/outgoing connections in settings"
For now, we have the single constant for maximum number of connections. Split it to set incoming / outgoing connections max number in settings (like in Bitcoin core ref. impl.)

[2018-01-26 12:57] kushti opened #154 "Display connection type in Peer API"
Show connection type ( incoming / outgoing ) in peer-related API calls

[2018-01-26 20:11] kushti opened #157 "Remove non-public peer from database"
For now, we're adding peer to the peer database if its public (declared address is the same as the socket address). It is also needed to remove peer from database the peer is not public.

[2018-01-29 15:33] daron666 commented on #154
resolved #125

[2018-01-29 15:36] kushti opened #158 "Forks comparison"
Currently, a node in the TwinsCoin example is getting Nonsense status initially (other peer if getting Younger status). Naturally, a peer should obtain correct status (Older). We also should ban for Nonsense status probably.

[2018-01-30 09:55] kushti opened #159 "Fix findbugs warnings"
Findbugs tool (running via "sbt findbugs") is finding a couple of high-priority warnings and a lot of medium-priority warnings. We need to fix them (most of claims are definitely reasonable). Good task for an external contributor!

[2018-01-30 10:20] atapin commented on #159
@kushti I'd like to claim on it

[2018-01-30 12:42] greenhat opened #161 "Extract "self-exclusion" logic from PeerDatabase"
Make `PeerManager` responsible for not letting "self" get into the `PeerDatabase`. See discussion in #156 .

[2018-01-30 12:55] greenhat commented on #161
I'm on it.

[2018-01-30 13:58] kushti commented on #159
@atapin awesome, thanks in advance!

[2018-01-30 16:28] daron666 opened #162 "Props factory methods for all actors"
Rework the way how we obtaining actors. According to official documentation Props factory is the best way to do it.

[2018-01-30 16:33] #154 closed

[2018-01-31 01:18] EzequielPostan commented on #162
Hi @daron666,

I would like to work on this (if it is not an urgent improvement). It will help me to explore the project at the same time.
I can also suggest the creation of API definitions for each actor.
For example, when calling the ask method we get Future[Any] as response:

val futureResult: Future[Any] = myActor ? Message

The sender of Message usually uses mapTo[A] to get a type check at ru

[2018-01-31 02:30] ceilican commented on #162
I think props factory is a good idea.

I think that a further improvement is to do what I did here:
https://gitlab.com/AxiomFlow/OuroborosPraos/blob/master/src/main/scala/ouroboros/actor/Party.scala#L195

Then you can create an actor reference without any boilerplate, as done here:
https://gitlab.com/AxiomFlow/OuroborosPraos/blob/master/src/main/scala/ouroboros/Main.scala#L37

Akka itself uses thi

[2018-01-31 02:34] ceilican opened #163 "Investigate whether we could/should make more use of "ask" instead of "tell""
See https://github.com/ScorexFoundation/Scorex/issues/162#issuecomment-361790890 .

[2018-01-31 02:36] ceilican commented on #162
@EzequielPostan , as far as I know, we are not using "ask" in Scorex at the moment. We are only using "tell". So, I would put your API suggestion as low priority at the moment. And, in any case, it would be better to discuss it in a separate issue. I created an issue related to that here: https://github.com/ScorexFoundation/Scorex/issues/163 .

[2018-01-31 02:39] ceilican commented on #163
We should keep in mind the disadvantages of using "ask" though (e.g. http://bartoszsypytkowski.com/dont-ask-tell-2/).

[2018-01-31 06:39] daron666 commented on #162
@EzequielPostan feel free to work on this.

[2018-01-31 14:18] kushti commented on #141
Updating some field on every message could be expensive(we need to send a message to PeerManager on such an event). As an alternative, we can update PeerManager on certain kind of message to be got over wire. In Scorex we dont' have Ping/Pong messages (unlike, say, Ethereum network protocol). However, we have other pairs of messages, GetPeers/Peers and Sync/Sync to be exchanged regularly (we are n

[2018-01-31 14:19] kushti commented on #78
@ceilican what do you think of that issue now?

[2018-01-31 14:21] kushti commented on #113
Finally. curvepos example is removed. TwinsCoin example is the only one included atm (also, Ergo is another example, external, any others publicly available?)

[2018-01-31 14:21] #113 closed

[2018-01-31 14:21] kushti commented on #129
Solved with *Reader classes for node view compinents

[2018-01-31 14:21] #129 closed

[2018-01-31 14:24] kushti commented on #162
I'm for using Props factory pattern. @EzequielPostan please feel free to work on this, thanks in advance! @ceilican actually we're using "ask" pattern a little bit, e.g. https://github.com/ScorexFoundation/Scorex/blob/5179a7869c67be1f6032c8537f62765dcd2d9dad/src/main/scala/scorex/core/network/NetworkController.scala#L128

[2018-01-31 22:02] EzequielPostan commented on #162
Thanks @daron666, I will start with this.

@ceilican
It seems that I don't have access to see the content of the links you added for further improvements. I tried to log in using Github and got a 422 error.

@kushti @ceilican
I guess it will be better and more organized (as @ceilican mentioned) to start with the factory pattern and discuss further improvements in a separate issue.

[2018-01-31 23:01] ceilican commented on #162
Those links are only accessible if are logged in GitLab. So, log in first, and then you will be able to access them.

[2018-01-31 23:34] ceilican commented on #78
I think the state in `NodeViewSynchronizer` is much more well-organized now.

We still don't use the `become` approach there, but I think that is ok for `NodeViewSynchronizer`.

Nevertheless, I would keep this issue open. I think we should review all actors (and not only `NodeViewSynchronizer`) thoroughly and see if we could improve them with the `become` approach.

Here is an example of a project

[2018-02-01 00:01] EzequielPostan commented on #162
That was strange, I logged in with "with Github" option and didn't work, but it now worked with normal login...

Anyway, I like the idea of MyActorRef objects to gather the factory methods, so I will refactor in this way if you agree.

[2018-02-01 00:10] ceilican commented on #162
The standard approach is to have *only* the `props` factory in the `MyActor` companion object.

What I did differently was to:
1) also implement `apply` factories in an extra `MyActorRef` object, which take an actor system implicitly and then use the `props` factory.
2) move the `props` factory to `MyActorRef`, just to keep all factories close together.

I "stole" idea 1 from Akka's test-kit. They

[2018-02-01 06:05] daron666 commented on #141
@kushti @ceilican  I think in this case this field shouldn't be called `lastSeen`. Cause in my opinion last seen date means the time when we got last messages from peer. I think we should rename this field to be `handshakeTime` or something like this and keep this first handshake timestamp as a value for this field. Cause for now using 'now()` is meaningless. I can do it on client instead. Or we c

[2018-02-02 09:49] ceilican commented on #162
@EzequielPostan

It seems that @daron666 implemented something addressing this concern of yours here: https://github.com/ScorexFoundation/Scorex/pull/164/files#diff-3550f43b428edb7b4977c425297d164eR12

[2018-02-02 09:49] #27 closed

[2018-02-02 12:09] #161 closed

[2018-02-02 21:09] ceilican opened #168 "Reorganize and document where messages come from"
Scorex's code organization and documentation would be greatly improved if we were more systematic about where we define messages and how we import them to be used elsewhere and about documenting from/to where they go.

I propose the we follow the style used in these actors: https://gitlab.com/AxiomFlow/OuroborosPraos/tree/master/src/main/scala/ouroboros/actor **(GitLab Login Required)**

[2018-02-02 21:12] ceilican commented on #168
@EzequielPostan , since you are already working on #162 , could you work on this one too?

[2018-02-03 05:51] ceilican commented on #162
Coverage just fluctuated a bit because the number of lines of code that was already uncovered increased. Therefore, I think it is ok to ignore it. The problem is when coverage decreases because code that was previously covered becomes uncovered.

[2018-02-03 16:27] EzequielPostan commented on #168
It looks interesting. If I understand correctly, you would like to define on each actor companion's object a `ReceivableMessages` object that lists the messages that can be sent to the actor.

My concern here is about keeping an updated documentation (the comments that state which actors send the messages). Outdated documentation tends to be better than no documentation, but do you have any commen

[2018-02-03 16:41] EzequielPostan commented on #162
Ok, good to know.
Thanks for the review of the PR @ceilican , I left some follow up comments.

Regarding PR 164 that you mentioned, I assume you refer to this method https://github.com/ScorexFoundation/Scorex/pull/164/files#diff-3550f43b428edb7b4977c425297d164eR12

I think that in this solution, the client still has to specify the expected type. But is still nicer to read that the plain `(Actor ?

[2018-02-03 20:22] ceilican commented on #168
Yes. And also:

* if an actor `A` sends messages `M1`, `M2`,... `Mn` to an actor `B`, we should have the following import statement in `A`:  `import B.ReceivableMessages.{M1,M2,...Mn}`.  (We should **not** use `import B.ReceivableMessages._`).

The point of this policy is to be able to see at a glance which messages `A` sends to `B` just by looking at the beginning of `A`'s code, without having to

[2018-02-03 20:38] ceilican commented on #162
Yes.

Ah, I see. Indeed. Let's do one thing at a time. Let's revisit your API idea in a separate issue in the near future.

[2018-02-04 22:53] ceilican commented on #152
When running a single node for a while, the following warning is eventually issued:
[code]

[2018-02-04 22:58] ceilican commented on #152
Then, when starting the second node, the following error occurs:

[code]

[2018-02-04 23:21] ceilican commented on #152
And I was able to reproduce the warnings mentioned by @daron666 .

[2018-02-04 23:31] ceilican commented on #152
After adding a third node, the second node continued issuing the "Got nonsense" warning from time to time. Strangely, only the second node does this. The first and and third node don't.

[2018-02-04 23:35] ceilican commented on #152
After adding a fourth node, the first node eventually showed this warning:

[code]

Node 4, like Node 2 also issues "Got Nonsense" warnings periodically.

[2018-02-04 23:38] ceilican commented on #152
Node 5 also issues "Got nonsense" warnings periodically.

[2018-02-04 23:45] ceilican commented on #152
It seems that, the more nodes I add, the more likely it is for a node N > 1 to emit "Got nonsense" warnings, and the more frequently node 1 emits "already in history" and "extOpt empty" warnings.

[2018-02-04 23:45] ceilican commented on #152
@kushti, could you tell us whether this behaviour is normal? Is there something here that needs to be fixed?

[2018-02-04 23:58] EzequielPostan commented on #168
I didn't notice the above part. Thanks for the clarification.

The suggestions look good to me. We can avoid the comments in the code as mentioned and think about the most appropriate check for the correctness of the semantics of the actor system as a whole.

I will try to work on this ticket during the week.

[2018-02-06 08:27] daron666 opened #170 "Combine corsAllowed and corsAllowedOrigin into one setting"
Also move `ActorHelper` to utils package.

[2018-02-07 11:13] daron666 opened #172 "Add scalastyle report"

[2018-02-07 14:28] atapin commented on #159
@kushti I took a glance at findbugs and it looked like java-ish to me. I'd suggest to consider https://github.com/wartremover/wartremover or https://github.com/sksamuel/scapegoat.

[2018-02-07 16:30] EzequielPostan commented on #172
Hi @daron666,

I can work on this one if you want help or someone to free your time.

[2018-02-08 10:27] #170 closed

[2018-02-08 11:21] daron666 commented on #172
@EzequielPostan Sorry, I already finished this one =)

[2018-02-08 12:56] #162 closed

[2018-02-08 16:14] EzequielPostan commented on #172
hahaha, no worries  @daron666 :P

[2018-02-08 23:41] EzequielPostan opened #176 "Add WartRemover checks"
Would it be a good idea to add checks using wartremover?

https://github.com/wartremover/wartremover

I have seen some good checks like
- Remove unsafe calls like `head`, `last`, `get`, etc.
- Remove `var`s and mutable state
- Detect `Product` type inferences
- Remove the use of `Any`

and many others.
We could define a full list of desired checks from here: http://www.wartremover.org/doc/warts.ht

[2018-02-09 00:36] ceilican commented on #176
I think this is generally a good idea, although I don't agree with a few built-in warts or with the suggested ways to remove some warts.

[2018-02-09 12:05] catena2w opened #177 "Node blacklisting"
Implement nodes blacklisting on incorrect behaviour

[2018-02-09 12:08] catena2w opened #178 "Wrapper for Array[Byte]"
Array[Byte] is bad as a key in maps/collections, so we anyway wrap them when use. It's better to wrap them once at object creation time.
IODB requires ByteArrayWrapper as a key and value, may be we should wrap at least some objects (e.g. ModifierId) at object creation time

[2018-02-09 12:24] catena2w opened #179 "Try to split stable / syncing regimes in Scorex. simplify NodeViewSynchronizer"

[2018-02-09 21:02] ceilican commented on #179
Do you mean to split the regimes using akka's "become"?

[2018-02-10 00:03] EzequielPostan commented on #168
I finally get some time for this.

I have a question about something I noticed, do we have any naming convention for actors? For example, to end their names with the word `Actor` (I know there may be better naming patterns). I am asking this because they have been hard to search/find. Sometimes they don't extend directly from the `Actor` trait.

[2018-02-11 03:52] EzequielPostan commented on #168
@ceilican
I am applying this change and I can notice one thing about how to import the receivable messages.

A class can import the messages for two reasons.
1. To send a message
2. To receive a mesage

I think that using the import statement with the list of messages is good to find what messages are received by an actor. This means that we can add the convention of the import clause for case 2 d

[2018-02-11 03:57] ceilican commented on #168
@EzequielPostan , I didn't really understand the issue you described. Could you show a more concrete example illustrating the issue?

[2018-02-11 04:02] ceilican commented on #168
Or, perhaps more efficiently, submit a "work-in-progress" PR, showing your proposal in one case only. Then we can discuss that case, and decide whether to do it everywhere.

[2018-02-11 04:48] ceilican opened #181 "Speeding-Up Communication between Nodes"
Section 5 of this paper (https://pdfs.semanticscholar.org/deb1/c04f3584a59b489e9582b244c10c7f9b20cf.pdf) discusses some interesting ideas.

[2018-02-11 04:49] EzequielPostan commented on #168
Thanks for the reply @ceilican

Let me give an example of each situation:

There are actors like `NodeViewHolder` that receive messages that are defined by other Actors,

https://github.com/ScorexFoundation/Scorex/blob/master/src/main/scala/scorex/core/NodeViewHolder.scala#L389

For example, it receives the `ComparesViews` message

https://github.com/ScorexFoundation/Scorex/blob/master/src/main/sc

[2018-02-11 04:54] EzequielPostan commented on #168
This is the WIP PR just in case: https://github.com/ScorexFoundation/Scorex/pull/180

The second commit shows the situation with the PosForger actor

I should review the case of the first commit (as I didn't notice this ambiguity at that point)

[2018-02-11 05:00] ceilican commented on #168
Ahh... You are misreading the "import" statements.

If you have:

[code]

You should it read it as: "ActorA receives all its receivables messages and sends Message1 and Message2, which will be received by ActorB".

[2018-02-11 05:05] ceilican commented on #168
For example, it receives the ComparesViews message defined by NodeViewSynchronizer.

That's another issue.  According to my proposal, the messages received by an ActorA should always be defined inside `ActorA.ReceivableMessages`. So, in the case above, `CompareViews` should be moved to `NodeViewHolder.ReceivableMessages`.

If some messages are receivable by more than one actor, we can put them in

[2018-02-11 05:09] ceilican commented on #168
In particular, if we have:

[code]

the second import statement does *not* mean that `Message1` and `Message2` are received by `ActorA`.  They are, as their location implies, receivable by `ActorB`. The import just tells us that `ActorA` is going to use these messages (i.e. to send them to B).

[2018-02-11 05:10] ceilican commented on #168
Is my proposal clearer now? Is it clear that there is no ambiguity?

[2018-02-11 05:15] ceilican commented on #168
We may need to move some message classes (e.g. `CompareViews`) from one file to another, in order to adhere to this unambiguous naming/organization proposal.

I think that what made you confused about my proposal was the fact the location of Scorex's message classes is not adhering to this proposal yet.

[2018-02-11 14:59] EzequielPostan commented on #168
Thanks for the clarifications @ceilican
Now I understand this better. I will review what I did and work it in this way.

As you mentioned, I will have to move messages from some objects to others and/or create common traits to locate them.

I guess Scorex's message classes not adhering to this proposal created my confusion as you mentioned.

Thanks again for your review and time.

[2018-02-12 09:14] mike-aksarin opened #182 "Remove deprecated usages of getJsonRoute"
Remove deprecated usages of ```ApiRoute.getJsonRoute``` method from Scorex. Handle exceptions by implicit ```ExceptionHandler``` (see example at https://github.com/ergoplatform/board-new/blob/master/src/main/scala/org/ergoplatform/board/App.scala#L24). Use standard circe ```.asJson``` method from ```EncoderOps``` to convert result to Json. Add CORS header directives to the resulting routes. Handle

[2018-02-13 15:59] greenhat commented on #176
I found wartremover super useful. @EzequielPostan nice list, `Recursion` wart deserves a mention too. It forces you to think about stack safety in every recursion.

[2018-02-14 01:33] EzequielPostan commented on #168
@ceilican
Thanks for the review in the PR.

I am getting some failures in my tests (under `examples` project).
I have to investigate the cause. It may be related to the traits with shared messages (but I am not sure yet). I have the impression that if I have

[code]

and if I send
[code]
then the code
[code]
will not receive the message as it will interpret `B.X` and `C.X` as different types. Inte

[2018-02-14 01:50] EzequielPostan commented on #176
Thanks for the comment @greenhat , I will go back to work on this issue soon.

@ceilican
We can select warts we would like to adopt and ignore the rest. I also don't like some of the suggested ways to remove some warts, but we can apply our own style.
The good thing is that breaking the wart rules won't let you compile, so it enforces good practices.

I will enable some warts in a new branch and c

[2018-02-14 23:57] EzequielPostan commented on #168
I changed a trait that contained shared messages for an object and tests got fixed. So I guess that we can't factor out shared messages in traits.

In summary, after we decide what to do with the classes `Message` and `PowBlock`, I can change the traits I created for objects (unless you have another suggestion) and close this issue. Any name suggestions for the objects that allocate the shared mes

[2018-02-15 00:27] ceilican commented on #168
Interesting.

Yes, the format I suggested assumes that each message class is receivable by only one actor type. My suggestion to have a trait for shared messages was a temporary hack for cases where a message is receivable by more than one actor.

The question is: should we have messages that are receivable by more than one actor at all?  I think this makes the code unnecessarily more confusing. I

[2018-02-15 00:41] ceilican commented on #168
I suspect (maybe you could confirm this to me, @EzequielPostan) that such shared messages occur because of the following communication pattern:

`ActorC` sends `SomeMessage` to `ActorA` and it propagates the message to `ActorB`.

In other words, one of the actors that receives the message is just acting as a middleman. In such cases, maybe it would make sense to eliminate the middleman, and send t

[2018-02-15 00:46] ceilican commented on #168
To ensure that we move on quickly, I propose that we accept the PR with `SharedMessages` objects (as described by @EzequielPostan).

@EzequielPostan , could you push the commits where you changed the traits to objects? Please add comments saying who is sharing the messages in those objects.

@kushti, could you accept today (thursday) the PR after Ezequiel's commits?

Then tomorrow (friday), I will

[2018-02-15 00:52] EzequielPostan commented on #168
I saw cases where a message is basically forwarded as you mention @ceilican . For example here: https://github.com/ScorexFoundation/Scorex/blob/master/src/main/scala/scorex/core/LocalInterface.scala#L95

But I would need to make a deeper review to check if all cases are like this.

I can refactor traits for objects and add the comments before going to bed, please wait for my confirmation before me

[2018-02-15 01:05] ceilican commented on #168
@kushti, what do you think about "killing" the middlemen (as discussed above), to simplify the architecture?

[2018-02-15 02:24] EzequielPostan commented on #168
Just to confirm, I updated the PR to use objects instead of traits.
Thanks for the review @ceilican and let me know if I can help on something else.
I will move to a new issue now.

[2018-02-15 09:53] catena2w opened #185 "Node self connections"
I started 2 nodes in ergo, logs of node binded to `127.0.0.1` contains
[code]

Looks like problem is that it contain itself in settings in knownPeers section

[2018-02-15 11:46] ceilican commented on #185
I wonder if this bug could have been introduced in the recent refactoring of `knownPeers` (https://github.com/ScorexFoundation/Scorex/pull/165) by @greenhat . I will have a closer look tomorrow. Maybe it could be due to my earlier removal of node nonce.

@catena2w, this is a new behaviour, right? Or could it have been happening before already?

@catena2w , are you sure that you started only 2 node

[2018-02-15 13:54] greenhat commented on #185
@catena2w `PeerManager` loads peers from `settings.knownPeers` without any check ( see - https://github.com/ScorexFoundation/Scorex/blob/ffa9c8b3e7b18ec6eebe0128beab654451077ec7/src/main/scala/scorex/core/network/peer/PeerManager.scala#L36 )
It'd probably be a good idea to not allow "self" address loaded from `settings.knownPeers`.

[2018-02-15 13:57] catena2w commented on #185
@ceilican I'm sure there were just 2 nodes, but akka use different ports to open connections.
I think @greenhat is correct and this behaviour is related to `knownPeers` setting, however I wonder why there are 3 (!) connections to self at the same time in example above

[2018-02-15 22:15] EzequielPostan commented on #176
@ceilican
I enabled `TraversableOps`  in a local branch and the plugin found the following error cases:

[code]

which reveals that some unsafe calls are made and probably should be reviewed.
Would you like me to enable some Warts and correct them as I can? It may be good to create a separate issues for each Wart we decide to enable.
Should I proceed in this path? If yes, which Warts would you sug

[2018-02-16 01:26] EzequielPostan commented on #176
Let me correct myself, there are a lot more of unsafe calls. The ones above are just from `scorex-core`

[2018-02-17 00:02] EzequielPostan commented on #176
@ceilican @greenhat
As pointed above, I created a PR to discuss the application of `TraversableOps`

[2018-02-18 00:28] ceilican commented on #176
Thanks, @EzequielPostan ! I left some comments there. My comments clarify what I meant when I wrote above that:

In my opinion, we should only avoid using `head`, `tail` and other methods that may throw an exception if we are using them in a buggy way (e.g. when the case that may trigger the exception can actually occur and is not being handled in some way). It is better to have exceptions than to

[2018-02-18 10:06] ceilican commented on #176
I think we should have a separate PR for each wart.

[2018-02-18 10:23] ceilican commented on #176
I propose that you modify the PR. For each wart occurrence found by the wart remover, do one of the following:

1. if the wart is a bug (e.g. the code is not handling the case of an empty traversable as it should) and it is clear how to fix the bug, fix the bug.

2. if the wart is not a bug (e.g. the code doesn't handle the case of an empty traversable, but this case never happens, or the exceptio

[2018-02-18 10:23] ceilican commented on #176
@kushti @greenhat , what do you think about the proposal above?

[2018-02-18 15:05] EzequielPostan commented on #176
I agree with the suggestions of creating different PRs for each `Wart` and also on how to proceed.
As I am still not that familiar with the code base, I guess I will "fix" few of the warts, but I can leave a trace of the problematic cases as you mention.
Other warts may be "easier" to apply.

[2018-02-18 15:18] greenhat commented on #176
@ceilican I agree. And it might be a good idea to create ticket(s) for "warts to enable" list.

[2018-02-19 03:11] ceilican commented on #185
@catena2w @greenhat I have just created a PR (#190) with the change suggested by @greenhat. (Thanks, @greenhat!).

However, if we accept this PR, then I think we will be unable to run a few peers locally, on the same network address. In particular, I think the TwinsCoin example included in Scorex will not work anymore, because there all "settingsX.conf" files list known peers that have the same ne

[2018-02-19 03:53] ceilican commented on #185
Actually, maybe I'm confusing things a bit... Sorry. In my comment above, I was wrongly thinking that the `bindAddress` and `declaredAddress` did not include the port. But they actually do. So, even when we have multiple peers running locally, they should have different ports and therefore be considered different from each other. So, please disregard my previous comment. I think we can accept the

[2018-02-19 03:57] ceilican commented on #185
@catena2w , could you share the `application.conf` files of the two nodes that you executed? Are they the files that can be found in the `node1` and `node2` folders here (https://github.com/ergoplatform/ergo/tree/master/src/main/resources)?

Could you also tell me the port of the node that produced those log messages?

[2018-02-19 16:55] dkaidalov opened #191 "Node crash due to failed rollback in Hybrid"
There is a problem happening all the time to me if I run 2 or more nodes. A node may crash with the following exception:
[code]
So actually at some moment a node isn't able to do a rollback. A brief look at the issue brought me to this function [source code link](https://github.com/ScorexFoundation/Scorex/blob/master/examples/src/main/scala/examples/hybrid/history/HybridHistory.scala#L188-L204) wh

[2018-02-19 22:03] ceilican commented on #191
@dkaidalov , I have recently executed a few nodes (see #152), and I didn't experience this behaviour. Could you tell us in more detail what you did to see this error?

[2018-02-20 13:49] #185 closed

[2018-02-21 00:37] EzequielPostan commented on #176
I created a PR to enable the wart `Recursion` as it was really simple to apply #194 .
I will go back to the `TraversableOps` during the weekend.
Is it ok if I try to apply other Warts? Creating a list of Warts we agree on applying would be good as suggested above.

[2018-02-21 06:55] TharinduDG commented on #182
@catena2w  I think this issue can be closed.

[2018-02-22 02:09] EzequielPostan commented on #176
`Var` and `Null` tend to be good Warts.
`Null` is easy to apply (there are only two uses of `null` in the whole project)
I haven't checked `Var` (eliminates the use of `var`) but it may be hard to apply.

I once found a tricky bug thanks to `Product`.
`Any` is also a good wart, but haven't checked its application either.
`OptionPartial`: replace `get` for `fold` in type `Option`

I think `PublicIn

[2018-02-22 03:40] ceilican commented on #176
Here are my comments:

Yes, I totally agree with removing `null`.

Partially agree. We definitely should avoid global `var`. Locally, if `var` can be removed without compromising code readability, I'm in favour of it.  Occasionally, though, a local use of `var` allows things to be achieved more easily and more clearly. In such cases, I think we should keep using `var` instead of masochistically do

[2018-02-22 12:20] EzequielPostan commented on #176
Good, thanks @ceilican for the comments.
I will experiment with the agreed ones and have a deeper look to the others.
I can treat the replacement of `get` for `fold` in a separate PR in a similar way we are doing with `List`'s unsafe methods.
For the ones you stated a partial or total disagreement or are tricky to apply:
- `Var`: I would leave this one for later as it would need a separate PR in a

[2018-03-02 05:44] ceilican opened #196 "Refactor Logic around DataFromPeer"
Right now the message `DataFromPeer` is received by two actors:  `PeerSynchronizer` and `NodeViewSynchronizer`. And it is sent by `NetworkController`, which has a sophisticated and generic _message handling_ mechanism to decide if it should send a `DataFromPeer` message to `PeerSynchronizer` or to `NodeViewSynchronizer`.

The question is: do we need all this generality?  I think it is compromising

[2018-03-02 05:59] ceilican opened #197 "Replace Enumerations by Case Objects"
Scorex has 4 Enumeration objects: `CommunicationState`, `EventType`, `ModifiersSemanticValidity` and `HistoryComparisonResult`. I think it would be more elegant to implement them with case objects instead. Like this:

Instead of:

[code]

We would do:

[code]

@kushti: what do you think?

[2018-03-02 06:03] ceilican opened #199 "Eliminate LocalInterface Actor"
@kushti, I think `LocalInterface` does not need to be an actor...  Currently, it seems to be just a collection of listeners for messages received mostly by `NodeViewSynchronizer`.  We could turn  `LocalInterface` into a normal non-actor class. What do you think?

This would reduce the number of messages that are passed around and would simplify the architecture.

Furthermore, the current architect

[2018-03-05 14:12] kushti commented on #199
@ceilican I'm for that, the interface looks pretty artificial now

[2018-03-05 14:13] kushti commented on #197
@ceilican I agree, there're some pros of sealed traits

[2018-03-05 14:15] #182 closed

[2018-03-06 07:07] #21 closed

[2018-03-06 12:38] daron666 commented on #191
This error related to HBoxState, not history. @dkaidalov could you provide more details? I'm trying to reproduce.

[2018-03-06 15:40] dkaidalov commented on #191
Indeed, the error is raised in HBoxStoredState, but its reason coming from the non-properly implemented [HybridHistory::bestForkChanges](https://github.com/ScorexFoundation/Scorex/blob/master/examples/src/main/scala/examples/hybrid/history/HybridHistory.scala#L207)

The main problem is that `HybridHistory::bestForkChanges` returns a `ProgressInfo`  structure with `toApply` field containing only th

[2018-03-07 11:23] catena2w opened #201 "SyncTracker log warnings"
Ergo node have quite a lot of warnings like:
[code]
If it's ok, it's better to reduce log level for this messages, or fix them.

[2018-03-09 13:38] dkaidalov commented on #191
@daron666 actually I was able to reproduce this crash without any changes in configs and with clean master branch (I run 3 nodes)
I also noticed that the mentioned exception usually appears after the next error:
[code]
To facilitate reproduction you can:
1. Set up all nodes with non-zero balances (by setting `seed = "genesisoX"`) so they can issue PoSBlocks
2. Decrease block delay
3. Decrease init

[2018-03-11 03:42] ceilican commented on #201
In my opinion, this is not ok and should be fixed.  I inspected the code, and I think this is due to a problem in the handshake logic. Note the following:

1) the log warning are issued by the `clearStatus` method in `SyncTracker`.

2) the `clearStatus` method is only called when `NodeViewSynchronizer` receives a `DisconnectedPeer` message from `PeerManager`.

3) if the `clearStatus` method is not

[2018-03-11 03:44] ceilican commented on #201
@catena2w @kushti, while investigating this issue, it also occurred to me that, since `SyncTracker` stores information about peers, it might make sense, from an architecture perspective, to move it from `NodeViewSynchronizer` to `PeerManager`. What do you think?

[2018-03-11 04:07] ceilican commented on #201
@catena2w @kushti, another thing I noticed is that the peer disconnection logic currently seems to be more complex and messy than it needs to be. `PeerManager` sends a `DisconnectedPeer` message to `NodeViewSynchronizer` when it receives a `Disconnected` message either from `NetworkControler` or `PeerConnectionHandler`. There are 3 different situations in which `NetworkController` may send a `Disc

[2018-03-11 04:10] ceilican commented on #201
So, in summary, here is how I propose that we address this issue and improve code quality:

1) call `updateStatus` as soon as we connect to a peer and not only if we have handshaked with it.

2) remove lines 145-148 from `NetworkController` (apparently dead code)

3) move all blacklisting logic to `PeerManager`

4) move `SyncTracker` to `PeerManager`

[2018-03-11 05:20] ceilican opened #202 "Refactor subscription mechanism"
How important is the subscription pattern in Scorex?

I noticed that we frequently have the following:

* an actor `A` receives a message `M` and notifies every subscriber `S` (which subscribes to the message `M`) that an event `EventType.M` occurred.

Now in cases where `A` knows in advance who the subscriber `S` is, it would be more direct and easier to simply let `A` send a message to `S` when

[2018-03-12 07:12] daron666 commented on #202
Akka has embedded message bus, that could be used for such things, btw.

[2018-03-13 22:41] EzequielPostan commented on #197
@ceilican @kushti

This is actually the purpose of Wart Enumeration (http://www.wartremover.org/doc/warts.html)
Would you like me to take this ticket and add this wart in the process?

[2018-03-13 23:42] ceilican commented on #197
@EzequielPostan , I have already done most of it in #203 .  There is only one enumeration remaining, but it would be useful to decide what to do with #202 before eliminating it.

[2018-03-13 23:46] ceilican commented on #202
Thanks, @daron666 !

Here is a link to Akka's documentation about the event bus: https://doc.akka.io/docs/akka/2.5/event-bus.html

I think we should eliminate subscriptions as much as possible and use Akka's event bus in cases where subscriptions are really needed.

[2018-03-14 09:35] kushti commented on #202
@ceilican what concrete cases do you have in your mind? Sometimes message-passing through an intermediate actor done intentionally in order not to reveal unnecessary interfaces or pass unneeded dependencies.

[2018-03-15 23:36] ceilican commented on #202
@kushti , the issue here is not the use of intermediate actors. The issue here is the use of a complex "subscription pattern" just to achieve communication between two actors `A` and `S`, which could probably be achieved in a simpler way. For a concrete case, consider the following:

The *peer manager* (`A`) needs to tell the *node view synchronizer* (`S`) that a *handshake* (`M`) occurred.

Right

[2018-03-15 23:41] ceilican commented on #202
In general, I think subscription mechanisms obfuscate who is communicating with whom.   I think they are justified when we have a dynamic set of actors and we don't know statically which actor is interested in receiving which message. But, when we have a fixed set of actors and we know which actor ought to receive each message, then a subscription mechanism seems to be unnecessarily indirect and o

[2018-03-16 05:01] ceilican opened #208 "Replace various forms of byte collections by `ByteString` and `Seq`."
Currently, collections of bytes are represented in Scorex through many different classes, such as  ByteStr, ByteString(from Akka), ByteBuffer, Array, WrappedArray. In order to make the code more uniform, we should:

1. replace these collection types by `ByteString` (cf. https://doc.akka.io/api/akka/2.0/akka/util/ByteString.html) in places where these collections are **created**.

2. replace these

[2018-03-16 15:34] kushti commented on #202
@ceilican concrete applications can add new subscribers, e.g. to update data shown in API. For examples, in Ergo there's some actor collecting statistics from the node viewable from API, and this actor is subscribing for node view updates & network events.

[2018-03-16 20:12] ceilican commented on #197
@EzequielPostan , if you would like to eliminate the last remaining enumeration, please go ahead. Base your PR on top of #203 . Note that there will be some name clashes when you remove that enumeration. Try to rename the clashing events sensibly.

[2018-03-17 09:38] ceilican commented on #202
@daron666 , I have read the documentation about event buses. There are many different ways to use event buses in akka, and I was wondering if we could reutilize the actor system's own event stream, as described in this subsection: https://doc.akka.io/docs/akka/2.5/event-bus.html#event-stream . It seems to me that this way would need the least amount of code from us. It could be the most straightfo

[2018-03-17 09:47] ceilican commented on #202
@kushti, after trying to eliminate `LocalInterface` (#199), I became convinced that event subscriptions are a good idea. The easiest way to eliminate `LocalInterface` is to allow applications to subscribe to events.

However, I think we need to refactor Scorex's custom subscription mechanism (which is currently duplicated in each actor that accepts subscriptions) and the best option is probably to

[2018-03-17 09:49] ceilican commented on #202
I'm renaming this issue from "Do we (always) need the "subscription" (anti-)pattern?" to "Refactor subscription mechanism".

[2018-03-17 18:28] EzequielPostan commented on #197
@ceilican
Ok, I will finish with the current work I have in a branch for #176 and then will check this issue.

[2018-03-18 03:58] ceilican commented on #202
In particular, of all possible event bus solutions, I think we could use akka's own event stream instead, as explained here: https://doc.akka.io/docs/akka/2.5/event-bus.html#event-stream

@kushti, what do you think?

[2018-03-19 05:37] TharinduDG commented on #88
@kushti shall I start working on this issue with `Storehaus-Cache`?

[2018-03-21 14:36] TharinduDG commented on #178
@catena2w
Can this be closed since the requirement changed and there's a new issue for this?
https://github.com/ScorexFoundation/Scorex/issues/208

[2018-03-21 23:26] ceilican commented on #197
@EzequielPostan , let's put this issue on hold, because it would be in conflict with #202 .  You haven't started working on this yet, right?

[2018-03-21 23:54] EzequielPostan commented on #197
No problem @ceilican, I haven't started yet.

[2018-03-24 13:54] kushti commented on #191
@dkaidalov I guess I've fixed it, test please

[2018-03-24 13:59] kushti opened #212 "Implement test for complex fork resolution"
Currently we're fixing only simple fork switching with a help of a test having the following description:

"In this test we apply first a chain of 2 blocks and then a chain of 4 blocks, both started with the same common block. We are expecting to observe "switching" here, though with non-chain structures there could be no notion of switching, so what we check finally is that last block from the se

[2018-03-25 02:11] ceilican opened #214 "Move event messages to the actors that create the event"
I will do this after #213 is accepted.

[2018-03-26 10:42] dkaidalov commented on #191
@kushti Subjectively it becomes a bit more stable, but the same errors are still reproducible
I noticed that [HybridHistory::bestForkChanges](https://github.com/ScorexFoundation/Scorex/blob/hybrid-fix/examples/src/main/scala/examples/hybrid/history/HybridHistory.scala#L218) still returns a `ProgressInfo` structure with `toApply` field containing only the head block instead of the whole `applyBlock

[2018-03-27 13:38] #197 closed

[2018-03-27 13:38] #202 closed

[2018-03-28 15:08] kushti opened #217 "Make modifiersCache of limited size"
At the moment "modifiersCache" in NodeViewHolder can grow indefinitely. Configurable cache size & strategy to clean the cache are needed to be implemented.

[2018-03-30 15:57] #199 closed

[2018-03-31 06:54] ceilican commented on #217
Should we consider using a caching library (e.g. scaffeine, scalacache)?

[2018-04-03 16:22] Fly-Style opened #220 "notifySubscribers doesn`t work"
I extend the `NodeSynchronizer` class and override `preStart` action where I subscribe to some of events :
[code]

Later, I wait till synchronizer actor will be alive by asking it about it, and sends it to notify that history was changed :
`notifySubscribers(EventType.HistoryChanged, ChangedHistory(nodeView._1))`,
 but notify didn`t happen.
When I implement my custom notify, I find that my custom

[2018-04-04 07:39] Fly-Style commented on #220
Good, thank you for attention. We will try to update.

[2018-04-06 22:30] EzequielPostan commented on #176
These are the pending Warts from the above list:
- LeakingSealed (I should review the impact of this one)
- OptionPartial (in a separate PR)
- Any (in a separate PR)
- Var (to be defined, but would be in a separate PR)
- MutableDataStructures (won't be applied now, to be evaluated in the future)

[2018-04-07 01:31] ceilican opened #222 "Why does Scorex use custom serialization and de-serialization?"
While working on #221 I noticed that most of the uses of `Array` happen inside Scorex's custom (de)serializers. Moreover, most of the (de)serializers are very similar to each other. That's a lot of boilerplate and code duplication.

Why does Scorex have custom (de)serializers?  Why don't we use a standard (de)serialization or (de)serilization library? (cf. https://gist.github.com/ramn/5566596, htt

[2018-04-11 14:07] mike-aksarin opened #224 "API peers/connect logic is broken"
When we call `peers/connect` with a new peer address, node starts connecting given peer, but then it closes the connection as duplicate and doesn't add it to `connectedPeers`. The log message is following:

`Already connected peer ... trying to connect, going to drop the duplicate connection`

[2018-04-11 14:35] mike-aksarin opened #225 "Unclear logic in NetworkController initialisation"
We have the following logics in a `NetworkController` class initialisation section. Here we validate `declaredAddress` setting and warn about the validation exceptions, but we don't use the boolean result of the validation that looks weird.

This is line 62, https://github.com/ScorexFoundation/Scorex/blob/master/src/main/scala/scorex/core/network/NetworkController.scala#L62

[code]

[2018-04-11 22:33] ceilican commented on #225
Maybe the goal here is just to emit a warning that `declaredAddress` is badly configured. If this is the case, then maybe we should use `log.warn` instead of `log.error`.

[2018-04-12 12:33] #224 closed

[2018-04-12 14:33] kushti opened #226 "[Hybrid:] Multiple StartForging signals being sent during fork resolution"

[2018-04-13 13:53] mike-aksarin opened #228 "Refactor NetworkController and PeerManager actors"
NetworkController and PeerManager actors looks to be very tightly coupled and have complex mutual communications. Looks like they share same responsibility and this makes the code rather unclear.

I suggest to refactor these two actors. I suppose to make  PeerManager just an local storage component for NetworkController. We still will store peerDatabase and connection state there, but will access

[2018-04-13 20:15] mike-aksarin commented on #225
Then we don't need `(settings.upnpEnabled && myAddrs.exists(_ == upnp.externalAddress))` check and `NetworkInterface.getNetworkInterfaces.asScala.exists` should be `NetworkInterface.getNetworkInterfaces.asScala.foreach`

By the way `myAddrs.exists(_ == upnp.externalAddress)` is never `true` as `upnp.externalAddress` is `Option` and it could not ever equal to `InetAddress`

[2018-04-13 22:05] ceilican commented on #228
I generally agree with reducing the number of actors in Scorex. Currently, it seem that everything is an actor in Scorex, but this doesn't need to be so.

I tend to agree in the particular case of PeerManager as well. One concern I have is that we wouldn't want NetworkController to be blocked for too long waiting for a non-actor Peer Manager to complete an operation. But I guess that, if this conc

[2018-04-16 10:33] mike-aksarin commented on #228
Do we have heavy operations in  Peer Manager that could block NetworkController if we made them single actor?

[2018-04-16 23:02] ceilican commented on #228
As far as I know, we don't. But I don't know everything. That is why I wanted to raise this potential issue.

@kushti, what do you think?

[2018-04-18 14:12] catena2w opened #230 "Invalid packet length"
2 our nodes closes connections to each other
[code]

[2018-04-19 00:26] mslinn commented on #222
I agree on the value of using standard library for serialization. Pickling did not become popular, despite the strong initial push it got. Chill/kyro might be of interest https://github.com/twitter/chill

[2018-04-20 22:01] EzequielPostan commented on #172
Hi @daron666, should this issue be closed?

[2018-04-23 04:50] daron666 commented on #172
@EzequielPostan I think so.

[2018-04-23 04:50] #172 closed

[2018-04-23 17:05] daron666 opened #232 "Rework all Actor's tests"
It's better to use `TestProbe` for testing purpose instead of self reference provided by default by akka test kit. With test probes test cases will be separated from each other, whereas self reference from test kit will receive all messages from all test cases of particular test class.

[2018-04-24 09:06] mike-aksarin commented on #232
We also can get rid of TestKit usage if we use TestProbe

[2018-04-24 12:37] #157 closed

[2018-04-26 06:05] greenhat commented on #212
I'd like to take this one.

[2018-04-27 00:00] siman opened #235 "Is there a block explorer for Scorex blockchain?"
I haven't found any UI for Scorex blockchain.
Have I missed something?

[2018-04-27 00:11] siman opened #236 "Is Scorex a good choice for a sidechain?"
We are writing an app that should have a high TPS (ex. 100 TPS) and periodically sync the state of a sidechain to a mainnet of an established blockchain (ex. Ethreum). For this reason, we are comparing different lightweight blockchains with PoS consensuses for the role of a sidechain in this app and we came across Scorex.

Are there any examples of using Scorex as a sidechain?
If yes, can you prov

[2018-04-27 08:44] ceilican commented on #235
Please let us know if we can close this issue.

[2018-04-27 08:54] ceilican commented on #236
As far as I know, there are no examples for this. (@kushti, am I right?)  The main example that we provide and maintain is Twinscoin (https://github.com/ScorexFoundation/Scorex/tree/master/examples).

Also, no example for this to the best of my knowledge. But nothing prevents you from implementing your own integration. Scorex provides abstractions to help you implement your own blockchain. If you

[2018-04-27 09:47] greenhat commented on #212
@kushti I'm done implementing suggested case in #234.
I'd like to cover more cases but all can come up with only relevant for chain-like structure (longest chain, etc.) and we should be structure-agnostic in these tests. Do you have any other cases in mind?
Maybe @ceilican @daron666 could come up with some cases.

[2018-04-28 10:00] #235 closed

[2018-04-28 10:03] siman commented on #236
Thank you!

[2018-04-28 10:03] #236 closed

[2018-04-30 08:14] manjotmona opened #238 "get/peers/all generating empty array in response body."
I am running two nodes of TwinsCoin Application on the same machine.
Following below is the configuration setting for both the nodes:

//settings.conf
network {
    nodeName = "generatorNode1"
    bindAddress = "127.0.0.1:9084"
    knownPeers = []
    agentName = "2-Hop"
  }

//settings2.conf
network {
    nodeName = "node2"
    bindAddress = "127.0.0.2:9088"
    knownPeers = ["127.0.0.1:9084"]

[2018-05-10 01:39] EzequielPostan opened #243 "Improve the use of Option and Try"
As discussed in #242 it would be good to follow the following approach to improve the way we use `Option` and `Try` types and reduce/remove the use of unsafe methods as `.get` if possible.

Approach
1. If we expect a method parameter not to be optional, then we should try not to use an Option/Try as parameter type. This would lead to the client to handle the lack of necessary information before ca

[2018-05-15 07:43] catena2w opened #245 "Node self connectinos"
I started 2 local nodes, `ergo-local-1` and `ergo-local-2`, but `/peers/connected` API route shows 3 active  connections:
[code]

[2018-05-23 09:23] catena2w opened #248 "Concurrent requests to TimeProvider"
Our test logs (https://travis-ci.org/ergoplatform/ergo/builds/382548260#L3349) sometimes provide often
 offset update that should never happen
[code]

[2018-05-25 15:29] catena2w opened #250 "Write failed"
2 my nodes are connected with the same version of scorex. But sometimes connection fails with error
[code]

[2018-06-12 10:23] catena2w opened #253 "Flexible encoding"
Allow user to chose encoder (Base16, Base58, etc.)

[2018-06-13 10:19] #253 closed

[2018-06-13 19:20] catena2w commented on #248
Fixed in https://github.com/ScorexFoundation/Scorex/pull/247

[2018-06-13 19:20] #248 closed

[2018-06-13 19:21] catena2w opened #258 "No sync message on node"
I've started server on my local computer, but did not received any Sync messages for 5 minutes and was not able to upload my chain to the network

[2018-06-15 16:13] #220 closed

[2018-06-16 11:58] catena2w opened #259 "GC overhead limit exceeded"
Our nodes failed with `GC overhead limit exceeded` error, looks like there is some memory leak. May be it's reason is failing connection attempts.
I see a lot of messages like:
[code]
Few problems here:
- We're trying to connect to the same peer a lot of times. I think we should remove it from the list after few failing attempts
- Looks like we should not try to clear status and last sync time for

[2018-06-18 10:50] #259 closed

[2018-06-20 13:11] catena2w opened #264 "Rework packages"
Our packages looks quite inconsistent. `scorex.core.consensus.HistoryReader`, `scorex.core.transaction.state.StateReader` and `scorex.core.transaction.MempoolReader` should be somewhere in the same package (or package name should be easily calculated).
Now I don't know where to put `VaultReader`...

[2018-06-21 20:40] martin-mx opened #266 ""WARN [tor.default-dispatcher-10] o.e.n.ErgoDeliveryTracker - Unexpected error" similar warning appearing frequently"
22:31:32.366 WARN  [tor.default-dispatcher-10] o.e.n.ErgoDeliveryTracker - Unexpected error
java.util.NoSuchElementException: key not found: (WrappedArray(0, 34, 27, -92, -111, 51, -122, 33, -50, 25, -43, -101, 94, 20, -1, 28, 86, -22, 123, 18, -121, -89, 111, -37, -109, 67, 30, 118, -106, -49, 78, -24),ConnectedPeer(209.97.138.187/209.97.138.187:9002))
	at scala.collection.MapLike.default(MapLike

[2018-06-21 21:31] EzequielPostan commented on #176
Just to clean up this issue.

- `OptionPartial` was enabled and an issue was opened to improve the general use of `Option` and `Try` constructors (#243).
- `LeakingSealed` warns some cases of traits that extend other traits which are then extended in other files. Example:
    `sealed trait NodeViewModifier` is defined in `src/main/scala/scorex/core/NodeViewModifier.scala`
   In the same file we ca

[2018-06-22 05:34] ceilican commented on #176
I think so.

I suggest opening issues for `Any` and `Val`, but not for `MutableDataStrucutures`... Scorex's actors rely so much on mutable data structures that it would be impossible (and probable even not desirable) to get rid of them...

[2018-06-26 18:13] kushti opened #268 "Eliminate magic number in LRUCache"
LRUCache contains a magic number constant:

private val cleaningThreshold = 50

Is it reasonable to externalize it into a config?

[2018-06-27 08:30] kushti commented on #266
Fixed by DeliveryTracker rewrite https://github.com/ScorexFoundation/Scorex/pull/267

[2018-06-27 08:30] #266 closed

[2018-06-27 08:35] kushti opened #269 "Received Modifier That is Already In History"
As there's no check in NodeViewHolder to be sure that modifiers in toDownload field of a ProgressInfo instance are not already in cache, a node can make a lot of unnecessary downloads and print a lot of messages like "Received modifier ... that is already in history" (see e.g. https://github.com/ergoplatform/ergo/issues/288 )

[2018-06-28 13:20] #269 closed

[2018-06-28 13:20] #217 closed

[2018-06-30 21:01] kushti opened #272 "Add support for peer features"
This ticket is proposing to add abstract peer "features" to be advertised during handshaking.
A list of peer features (or capabilities) contains static characteristics of a running node. As an example, "services" bitfield announced in during handshaking in the Bitcoin networking protocol ("https://en.bitcoin.it/wiki/Protocol_documentation#version") shows services supported by a peer (e.g. whether

[2018-07-04 08:06] catena2w opened #275 "Move test objects to testkit subproject"
Some objects, like `src/main/scala/scorex/ObjectGenerators.scala` should be moved to `scorex-testkit` as soon as they are only needed for tests

[2018-07-04 08:09] catena2w commented on #272
closed in https://github.com/ScorexFoundation/Scorex/pull/273

[2018-07-04 08:09] #272 closed

[2018-07-09 13:15] catena2w opened #282 "sbt publish fail"
Publish fail due to comments in `ModifierValidator`

https://travis-ci.org/ScorexFoundation/Scorex/builds/400379467#L3974

[2018-07-09 13:21] catena2w commented on #282
Also fixed in https://github.com/ScorexFoundation/Scorex/pull/279/files

[2018-07-09 15:50] #282 closed

[2018-07-12 16:37] catena2w opened #287 "Efficient serialization"
Replace all places that use ++ for serialization for efficient alternatives (see scorex.utils for example)

[2018-07-13 08:11] #158 closed

[2018-07-13 08:18] kushti opened #288 "Check that Modifiers message size is not exceeding maxPacketSize"
Currently a node can form a Modifiers message with a length exceeding maxPacketSize, and then other node is rejecting it.

[2018-07-13 16:12] mike-aksarin opened #292 "Prevent long modifiers generation"
Prevent generation of Modifiers, which size exceeds `maxMessageSize `

[2018-07-16 08:35] #288 closed

[2018-07-16 11:32] catena2w opened #293 "Send Sync messages, when peer is not synced and no modifiers are expected"
Now during sync process our node downloads batch  of modifiers of size `maxInvObjects` and wait for `syncInterval` until it will send next sync message and will download next batch of modifiers. When our node receives last expecting modifier, it may send `sync` message immediately (to peer delivered this modifier or to random older peer) to prevent this `syncInterval` delay

[2018-07-23 09:10] catena2w commented on #88
fixed in https://github.com/ScorexFoundation/Scorex/pull/262

[2018-07-23 09:10] #88 closed

[2018-07-23 09:18] catena2w opened #296 "Peer discovery"
We wrote a test for peers discovery (issue https://github.com/ergoplatform/ergo/issues/253, PR https://github.com/ergoplatform/ergo/pull/371), and looks like peer discovery does not work - if there is a connection betweern nodes 1-2 and 1-3, connection between nodes 2-3 is not created.
Can be reproduced in Scorex by running 3 nodes of `examples/src/main/scala/examples/hybrid/HybridApp.scala` with

[2018-07-23 09:18] catena2w commented on #296
@ceilican @VictorMikheev may you add some comments?

[2018-07-24 11:05] ceilican commented on #296
@catena2w , it looks like @VictorMikheev already solved the issue. If you still need comments from me, let me know. I'm a bit overloaded with tasks from IOHK at the moment...

[2018-07-26 17:54] #178 closed

[2018-07-26 17:54] #208 closed

[2018-07-27 09:41] catena2w opened #299 "Invalid packet length"
We fixed similar bug in https://github.com/ScorexFoundation/Scorex/issues/288, but looks like problem still exists:
[code]

[2018-07-30 16:26] RatanRSur opened #300 "Priorities / roadmap / community chat?"
Hi! I started implementing my own cryptocurrency as a fun personal project in Scala and realized I was doing so much of the same stuff as y'all.

https://github.com/RatanRSur/raicoin/tree/tcp-networking

I have a lot of free time on my hands right now being in between jobs so I was wondering if you had a roadmap of Scorex's future or a chat where you discuss them.

I took a look at the issues but

[2018-08-02 08:22] catena2w opened #301 "Ignore not responding peers"
If some peer is not online, but our node knows it(because we received it in Peers message or it is written in config), there are a lot of messages like:
[code]

[2018-08-08 05:34] ceilican commented on #300
@RatanRSur , unfortunately there is no public roadmap. Currently, networking is being improved and being made more robust for the next release. The priorities for Scorex also depend a lot on the needs of projects that use it, such as Ergo.

I imagine that, if you would like to contribute, maybe the best approach is to have a look on the issue tracker and ask, on a particular issue, whether you cou

[2018-08-08 16:12] catena2w commented on #245
In logs there are messages, that node really send connections to self:
[code]

[2018-08-08 16:12] catena2w commented on #245
relates to #296

[2018-08-12 17:13] RatanRSur commented on #299
Hi!

How can I repro this? I can't find this error in Scorex's tests or ergo's tests

[2018-08-12 20:03] RatanRSur commented on #228
Trying to get up to speed on the project so I wanted to see if any of these sentiments make sense to y'all.

The actor model is perfect for the boundaries of the system where concurrent events are occurring (NetworkManager). NetworkManager, however, doesn't need to have this asynchronous relationship with PeerManager.

[2018-08-17 10:41] mike-aksarin opened #304 "Change API errors content type to json"
Currently API provide `application/json` content type for successful responses and default `text/plain` for error responses. We need to unify response content type.
1) Change response content-type in `ApiError.complete` method.
2) Override default akka http error handling.
3) Update example yaml file.

The same changes should be performed in Ergo after finishing this task.

[2018-09-20 13:30] #296 closed

[2018-10-07 06:04] oskin1 opened #311 "Block with malformed extension is not being applied correctly"
https://github.com/ergoplatform/ergo/pull/484

[2018-10-10 13:33] oskin1 opened #314 "Implement custom rejection handler for API"

[2018-10-10 14:51] oskin1 commented on #314
Closed #315

[2018-10-10 14:51] #314 closed

[2018-10-12 08:54] oskin1 opened #316 "DeadLetters from NetworkController"
Sometimes the following records appear in logs:
```[akka://ergoref/user/networkController/$d] Message [scorex.core.network.message.Message] from Actor[akka://ergoref/user/networkController#-1129321538] to Actor[akka://ergoref/user/networkController/$d#1016405079] was not delivered. [2] dead letters encountered.```

[2018-10-17 19:23] oskin1 opened #317 "Persistent modifier validation improvement"
Now we have quite flat validation algorithm for persistent modifiers - it does many checks in one step, this leads to impossiblity of handling all validation-failure cases properly. For example, if we're trying to validate block section (`S`) for some header (`H`) and validation fails at the first step then there are few cases which further application handling depends on:
1. `S` does not really r

[2018-10-22 08:52] oskin1 commented on #317
Possible solution could be to subscribe to `SyntacticallyFailedModification(S)`, check if `S` really relates to `H` and then invalidate `H`.

[2018-10-22 13:08] oskin1 commented on #317
Possible solution could be to subscribe to `SyntacticallyFailedModification`, check if some `S` relates to `H` it refers to, and then invalidate `H`

[2018-10-29 12:49] kushti commented on #317
@oskin1 what changes to Scorex you are proposing?

[2018-11-06 12:29] catena2w opened #319 "Failed to clear status of modifier"
Assertion was replaced to logging in https://github.com/ScorexFoundation/Scorex/pull/318, but actually this should never happen.
Looks like the easiest way to reproduce is to try to send the same transaction to mempool twice via API simultaneously.

[2018-11-14 10:12] catena2w opened #320 "Delete outdated peers"
If out node knows some peer (from config or from other peers) it is trying to connect to it every 5 seconds, printing big stacktrace to logs:
[code]
Node should delete this peer from it's database after few unsuccessfull attempts

[2018-12-04 15:26] #320 closed

[2018-12-21 17:06] mike-aksarin opened #325 "Split NodeViewHolder components to separate actors"
Extract separate actors for the Node View Holder components to eliminate synchronized sections and enable actor model for the data isolation and synchronization.

[2019-02-20 13:58] oskin1 commented on #250
It seems that we need to manually implement back-pressure pipeline.
https://doc.akka.io/docs/akka/2.5/io-tcp.html#throttling-reads-and-writes

[2019-02-22 09:36] #301 closed

[2019-02-28 09:20] oskin1 opened #330 "ModifiersCache fails to handle indirectly ordered modifiers application"

[2019-03-11 13:43] #330 closed

[2019-03-18 13:54] oskin1 opened #333 "Implement a mechanism allowing to invalidate transactions in Mempool from outside NVH"
Relates to https://github.com/ergoplatform/ergo/issues/658

[2019-03-19 09:24] #333 closed

[2019-03-21 15:00] #250 closed

[2019-05-26 13:39] oskin1 opened #342 "`PeerInfo.lastSeen` is not updated"
`PeerInfo.lastSeen` does not work properly as it contains a timestamp a particular `PeerInfo` instance was created.

[2019-06-10 08:51] #177 closed

[2019-06-21 08:56] oskin1 opened #344 "Deep forks sync"

[2019-06-25 14:09] #344 closed

[2019-07-26 12:32] i-Alex opened #347 "History reportModifierIsValid"
When we are going to apply some persistent modifier (block) to the Node in NodeViewHolder we are processing modifier step by step:
1) Append it to History and collect some changes (ProgressInfo)
2) In case of success, apply changes to State
3) After each successful applying notify History via reportModifierIsValid method.

From a History point of view History.reportModifierIsValid execution means

[2019-09-08 17:32] oskin1 opened #351 "Fix `/utils/hash/blake2b`"
[code]

[2019-10-03 19:29] aslesarenko opened #352 "Unstable serialization of ModifiersSpec"
Foreach traversal of `data.modifiers` can happen in different order, because order of map entries is not guaranteed.

See `class ModifiersSpec(maxMessageSize: Int)`

[2019-10-28 13:22] deabreu opened #353 "Scorex testkit Hybrid example missing"
Hi, MD page for testkit has a missing link for Hybrid Example. I got a 404 Response.

[2019-11-06 20:18] kushti commented on #353
Thanks! PR with the proper link (https://github.com/ScorexFoundation/Scorex/blob/master/examples/src/test/scala/hybrid/HybridSanity.scala) is ready!

[2019-11-06 20:38] deabreu commented on #353
Thanks!

[2019-11-06 20:38] #353 closed

[2020-01-29 10:24] i-Alex opened #360 "Scorex RC6 dependency issue"
In maven repository Scorex 2.0.0-RC6 has a problem with `io.circe.circe-core` dependency, that was not present in RC4.
In Scorex build.sbt file version `0.8.0` was set, but actually Scorex is built with `0.9.x` version.
I suppose, that it's because of `"de.heikoseeberger" %% "akka-http-circe" % "1.20.0"`, that as a subdependency has `io.circe.circe-core 0.9.x`.

Here is the screen of RC6 dependenc

[2020-01-29 16:02] kushti commented on #360
@i-Alex thank for reporting! I've created #361 with the dependency update proposed

[2020-01-30 08:38] #360 closed

[2020-05-15 16:54] #300 closed

[2020-07-21 14:08] kushti commented on #299
Likely fixed

[2020-07-21 14:08] #299 closed

[2020-10-05 10:39] kushti opened #374 "Remember time of last seen message"
Do this on top of PR #373 :

1) Like #373 is using message got from a peer to drop inactive connection (in NetworkController), introduce global variable in NetworkController which is storing when we got last message from the network

2) Introduce a new API method /peers/status (PeersApiRoute) which is returning something like {"lastIncomingMessage":XXX, "currentNetworkTime":XXX}

[2020-10-05 16:07] knizhnik commented on #374
I have several questions:
1. Should we maintain lastIcommingMessageTimestamp separately for each peer or just one for all peers? In first case I do not understand how it can be global variable in NetworkController. May be we should add this field to PeerInfo (in addition to lastSeen) or to ConnectedPeer ?
2. Should I introduce new response schema PeerStatus or just add lastIncomingMessage field to

[2020-10-06 16:49] kushti commented on #374
@knizhnik  My bad likely, it was better to start with motivation. Which is about the need to recognize whether connectivity globally (with all the peers) is lost or not. If it lost, then we can consider our syncing status differently, show warning in a UI etc.

Thus this variable is global for all the peers.

/info is not in Scorex, it is Scorex-specific. In Ergo, we can enrich /info for sure.

[2020-10-07 11:10] knizhnik commented on #374
Sorry, I do not understand your answers.
My first questions was why do we need to add some global variable to NetworkController insteadof just calculating max(lastSeen) ?

Also I do not understand "/info is not in Scorex, it is Scorex-specific".
All API methods are declared in openapi.yaml aren't them?
No AI methods are defined in Scorex, aren't them?
So, as far as I understand this task requires

[2020-10-11 19:21] knizhnik commented on #374
I have created PR https://github.com/ScorexFoundation/Scorex/pull/376
Not sure that it is enough and whether openapi.yaml in ergo should also be changed.

[2020-10-23 22:16] kushti commented on #374
Done in #376

[2020-10-23 22:16] #374 closed

[2020-10-23 22:18] kushti opened #377 "Fix /peers/status"
/peers/status gives:

Cannot cast scorex.core.api.http.PeersApiRoute$PeersStatusResponse to scorex.core.network.peer.PeersStatus

[2020-10-25 22:41] kushti commented on #351
Proper version is

curl -X POST "http://127.0.0.1:9053/utils/hash/blak2b" -H "accept: application/json" -H "Content-Type: application/json" -d "\"7yaASMijGEGTbttYHg1MrXnWB8EbzjJnFLSWvmNoHrXV\""

and recommended by Swagger now

[2020-10-25 22:41] #351 closed

[2020-10-25 23:02] kushti opened #378 ""lastSeen" has different semantics for active connections and database peer"
For *connections* in NetworkController, *lastSeen* (in peer info) contains time of last message got from a peer. In opposite, *lastSeen* in peer info in *PeerDatabase* implementation (*InMemoryPeerDatabase*) contains time when last connection with a peer was established (or 0 if never).

It makes sense to have two fields for these two different use cases.

[2020-10-25 23:03] kushti commented on #342
Now updated with last message time, but there's a new issue: https://github.com/ScorexFoundation/Scorex/issues/378

[2020-10-25 23:03] #342 closed

[2020-10-25 23:05] #264 closed

[2020-10-25 23:06] kushti commented on #141
New issue: https://github.com/ScorexFoundation/Scorex/issues/378

[2020-10-25 23:06] #141 closed

[2020-10-25 23:07] #258 closed

[2020-10-25 23:08] #148 closed

[2020-10-25 23:11] kushti opened #379 "Move max inactive connection deadline to settings"
Currently, *scheduleDroppingDeadConnections* in *NetworkController* has the following magic constant:

// A peer should send out sync message to us at least once per settings.syncStatusRefreshStable duration.
// We wait for more, namely settings.syncStatusRefreshStable.toMillis * 3
val timeout = settings.syncStatusRefreshStable.toMillis * 3

But better to have dedicated setting for detecting inact

[2020-11-02 11:41] kushti commented on #378
Fixed

[2020-11-02 11:41] #378 closed

[2020-11-02 11:41] kushti commented on #379
done

[2020-11-02 11:41] #379 closed

[2020-11-02 12:08] kushti opened #382 "Introducing session id and network id during the handshake"
A handshake can be enhanced via adding a new PeerFeature, see LocalAddressPeerFeature. Do a new feature with id = 3 which contains network magic bytes (from settings) and a session ID. The session ID should be generated when the node started, 64 random bits (8 bytes) enough. If session ID is not received from other peer, then it equals to 0.

Then the following code needs to be rewritten, isSelf s

[2020-11-03 10:48] kushti commented on #245
will be finally fixed with #382

[2020-11-03 10:48] #230 closed

[2020-11-17 17:26] kushti opened #388 "Update Circe, Akka, Akka-Http to latest versions"
To simplify migration to Scala 2.13 and also updating dependencies, update Circe, Akka, Akka-Http dependencies to latest versions.

[2020-11-19 09:00] #388 closed

[2020-12-08 17:57] #377 closed

[2020-12-08 17:57] #382 closed

[2020-12-08 17:58] #245 closed

[2020-12-08 20:34] kushti opened #392 "Use buckets for peers."
Currently we're choosing peer to connect at random, which is likely vulnerable to eclipsing. Bitcoin is trying to get connections randomly across IP address space, there were some vulnerabilities found there as well back in 2015: https://www.usenix.org/system/files/conference/usenixsecurity15/sec15-paper-heilman.pdf .

So the goal is about implementing buckets-based strategy with fixes proposed an

[2020-12-17 17:46] kushti opened #393 "Peer eviction"
To randomize connection, we need to evict a random peer periodically (e.g. every few hours) like it is done in Bitcoin

[2021-01-27 21:14] kushti opened #395 "Support Tor and Tor node addresses propagation"